@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');

*.nama{
    font-family: 'Kaushan Script', cursive;
}
body {
    background-color: #f5f5dc;
}
.gambar{
    border-radius: 100%;
    text-align:center;
    
}
body{
    background-color: mediumaquamarine
}

.hover{
   background: white(192, 248, 255);
   padding:3px 8px;
   width:200px;
}

.nama{
    max-width: 50%;
    width: 500px;
    font-size: 20px;
    font-weight: 900;
    color: white
}
*.sosmed{
    font-family: 'Paytone One', sans-serif;
}
.sosmed{
    max-width: 50%;
    width: 500px;
    font-size: 20px;
    font-weight: 900;
}
.INSPIRASI{
    background-color:white;
    max-width: 50%;
    width: 500px;
    font-size: 20px;
    font-weight: 900;
}
.prestasi{
    font-size: 20px;
    font-weight: 900;
    color: white
}
.pengalaman{
    font-size: 20px;
    font-weight: 900;
    color:white
}
.table{
    backgroung:  black;
    font-size: 20px;
    font-weight: 200;
    padding:3px 8px;
    color: white
}